<div>
  <table class="table table-striped table-bordered table-hover" *ngIf="projects.length > 0; else noProjects">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Name</th>
        <th>Code</th>
        <th>From</th>
        <th>To</th>
        <th>Participants</th>
        <th>Status</th>
        <th>Last update</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of projects; let i = index"
        routerLink="/projects/{{ item.id }}"
        title="Edit the project"
        class="cursor-pointer"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.fullName }}</td>
        <td>{{ item.shortCode }}</td>
        <td>{{ item.from | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.to == null ? '-' : (item.to | date: 'yyyy-MM-dd') }}</td>

        <td class="text-center">
          <span class="badge badge-pill badge-light"
            ><h6>{{ item.activeParticipants().length }}</h6></span
          >
        </td>
        <td>
          <p class="badge badge-warning" *ngIf="!item.confirmed; else confirmed">Not confirmed</p>
          <ng-template #confirmed>
            <p class="badge badge-success" *ngIf="item.isActive() && !item.comingSoon()">
              Active
            </p>
            <p class="badge badge-warning" *ngIf="item.isInactive()">Inactive</p>
            <p class="badge badge-danger" *ngIf="item.comingSoon()">Coming Soon</p>
          </ng-template>
        </td>
        <td>
          <span class="text-muted" title="Last update">
            <small>{{ item.updatedAt | date: 'yyyy-MM-dd' }}</small>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noProjects>
    <app-nothing-to-show-label></app-nothing-to-show-label>
  </ng-template>
</div>
