@model PC.Domain.Services.Email.Models.UserInvitationEmail
@{
    Layout = "/Content/EmailTemplates/Layouts/_Layout.cshtml";
    ViewData["EmailTitle"] = "Welcome!";    
    ViewData["PreHeader"] = "We're thrilled to have you here! Get ready to dive into your new account.";
}

<p>
    Hello @Model.FirstName! We're excited to have you get started.
    First, you need to confirm your account. Just press the button below.
</p>