<div class="sidebar" [hidden]="!isAuthenticated">
  <nav class="sidebar-nav">
    <ul class="nav">
      <div class="nav-side-menu">
        <div class="menu-list">
          <div class="header fixed">
            <div>
              <div class="dynamic-part">
                <div class="ul">
                  <div class="li">
                    <div>
                      <b [routerLink]="['/']">Net App <span class="fa fa-chevron-down ml-1 position-fixed"></span></b>
                    </div>
                    <div class="ul list-group">
                      <div class="li list-group-item"><a routerLink="/me">Profile</a></div>
                      <div class="li list-group-item"><a routerLink="" (click)="signout()">Sign out</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-muted mr-3">{{ name }}</div>
          </div>
          <ul id="menu-content" class="menu-content collapse show">
            <hr class="sidebar-hr" />

            <li data-toggle="collapse" data-target="#admin-panel" class="collapsed" *appHasRole="'hrmanager'">
              <div class="m-l-15"><i class="fa fa-user-ninja fa-lg mr-2"></i> Admin panel</div>
            </li>
            <div class="sub-menu collapse" id="admin-panel" *appHasRole="'hrmanager'">
              <li data-toggle="collapse" data-target="#admin-users" class="collapsed">
                <div class="m-l-15"><i class="fa fa-user-friends fa-lg"></i> Users</div>
              </li>
              <ul class="sub-menu collapse" id="admin-users">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/admin/users']"><i class="fa fa-sort-numeric-down"></i> Users</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/admin/inactive-users']"><i class="fa fa-user-lock"></i> Inactive users</a>
                </li>
              </ul>

              <li data-toggle="collapse" data-target="#emails" class="collapsed">
                <div class="m-l-15"><i class="fa fa-envelope"></i> Emails</div>
              </li>
              <ul class="sub-menu collapse" id="emails">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                  <a routerLink="/admin/emails/send"><i class="fa fa-reply"></i> Send email</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                  <a routerLink="/admin/emails/preview"><i class="fa fa-envelope"></i> Emails preview</a>
                </li>
              </ul>

              <li
                data-toggle="collapse"
                data-target="#admin-stuff"
                class="collapsed"
                *appHasRole="'systemadministrator'"
              >
                <div class="m-l-15"><i class="fa fa-tools fa-lg"></i> Admin stuff</div>
              </li>
              <ul class="sub-menu collapse" id="admin-stuff">
                <li
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  *appHasRole="'systemadministrator'"
                >
                  <a routerLink="/admin/background-jobs" title="Background jobs and tools"
                    ><i class="fa fa-sort-numeric-down"></i> Jobs and health</a
                  >
                </li>
              </ul>
            </div>
            <hr class="sidebar-hr" *appHasRole="'hrmanager'" />
            <li data-toggle="collapse" data-target="#users" class="collapsed" *appIsDesktop>
              <div class="m-l-15"><i class="fa fa-user-friends mr-2"></i> Users</div>
            </li>
            <ul class="sub-menu collapse" id="users">
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/users"><i class="fa fa-sort-numeric-down"></i>Users</a>
              </li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/users/my-subordinates"><i class="fa fa-sort-numeric-down"></i>My subordinates</a>
              </li>
            </ul>
          </ul>
        </div>

        <div class="nav-side-env" *ngIf="showEnvName" title="Current environment">
          {{ envName }}
        </div>
      </div>
    </ul>
  </nav>
</div>
