<div class="app-body">
  <app-sidebar-button></app-sidebar-button>
  <app-sidebar></app-sidebar>
  <main class="main">
    <app-doge-easter-egg></app-doge-easter-egg>
    <div class="container-fluid">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </main>
  <ngx-spinner
    [name]="timer"
    bdOpacity="0.3"
    bdColor="rgba(51,51,51,0.91)"
    size="medium"
    color="#fff"
    type="timer"
    [fullScreen]="true"
  ></ngx-spinner>

  <ngx-spinner
    [name]="transparent"
    bdOpacity="0"
    bdColor="rgba(51,51,51,0)"
    size="large"
    color="rgba(255,255,255,0)"
    type="timer"
    [fullScreen]="true"
  ></ngx-spinner>
  <app-worklog *appIsDesktop></app-worklog>
</div>
