:host {
  display: inline-block;
  margin-right: 3px;
}

.skill-wrapper {
  a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
    vertical-align: bottom;
    top: 0;
  }

  a:hover {
    opacity: 1;
  }

  a .white {
    color: #fff;
    margin-bottom: 2px;
  }
}

.badge {
  color: #fff;
}
