<div *ngIf="annualLeave != null">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <div class="text-muted">
            <small> Annual leave request opened by </small>
          </div>
          <div>
            <a [routerLink]="['/users', annualLeave.user.id]">{{ annualLeave.user.email }}</a>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div>
          <div class="text-muted">
            <small>From</small>
          </div>
          <div>
            <span>{{ annualLeave.from | date: 'yyyy-MM-dd, EEEE' }}</span>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div>
          <div class="text-muted">
            <small>To</small>
          </div>
          <div>
            <span>{{ annualLeave.to | date: 'yyyy-MM-dd, EEEE' }}</span>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div>
          <div class="text-muted">
            <small>Status</small>
          </div>
          <div>
            <span>{{ annualLeave.vacationStatus }}</span>
          </div>
        </div>
      </li>

      <li class="list-group-item" *ngIf="annualLeave.step != null">
        <div>
          <div class="text-muted">
            <small
              >Step
              <app-popover class="ml-1" [title]="'About steps'" [icon]="'far fa-question-circle'">
                <ul>
                  <li><i>First</i> step means that the vacation waits for your FM's approval</li>
                  <li>The <i>second</i> step means that the vacation waits for HR's approval</li>
                  <li>The <i>third</i> step means that the vacation waits for Top manager's signature</li>
                </ul>
              </app-popover>
            </small>
          </div>
          <div>
            <span>{{ annualLeave.step }}</span>
          </div>
        </div>
      </li>
    </ul>

    <div class="p-3">
      <div class="d-flex justify-content-between mt-3">
        <app-go-back-button></app-go-back-button>

        <div class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-danger mr-1"
            *ngIf="hasPermissionsToApproveOrDecline"
            (click)="decline()"
          >
            Decline
          </button>

          <button
            type="button"
            class="btn btn-success mr-1"
            *ngIf="hasPermissionsToApproveOrDecline"
            (click)="approve()"
          >
            Approve
          </button>

          <button type="button" class="btn btn-danger" *ngIf="hasPermissionsToRemove" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-decline-dialog *ngIf="declineFormModalMessage != null" [message]="declineFormModalMessage"></app-decline-dialog>
<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
