<app-page-header>
  <div class="w-100 d-flex justify-content-between">
    <div class="app-page-header-label">
      Project <b>{{ project?.fullName }}</b>
      <div class="badge badge-info ml-1" *ngIf="isNotConfirmed">Not confirmed</div>
      <div class="badge badge-warning ml-1" *ngIf="isInactive">Inactive</div>
      <div class="badge badge-danger ml-1" *ngIf="isComingSoon">Coming Soon</div>
    </div>
  </div>
</app-page-header>

<div class="container mt-3" *ngIf="project != null">
  <div class="d-flex justify-content-between">
    <div class="d-inline-block">
      <app-go-back-button></app-go-back-button>
      <a
        *ngIf="showFixedCostsButton"
        routerLink="/projects/{{ project.id }}/fixed-costs"
        class="btn btn-outline-secondary ml-1"
        title="Manage the project's fixed costs"
        >Fixed costs</a
      >
      <a
        routerLink="/projects/{{ project.id }}/edit"
        *ngIf="showEditButton"
        class="btn btn-outline-secondary ml-1"
        title="Edit the project"
        >Edit</a
      >
    </div>

    <div class="d-inline-block">
      <button
        type="button"
        *ngIf="showApproveDeclineButtons"
        class="btn btn-outline-success float-right ml-1"
        (click)="approve()"
      >
        Approve
      </button>
      <button
        type="button"
        *ngIf="showApproveDeclineButtons"
        class="btn btn-outline-warning float-right ml-1"
        (click)="decline()"
      >
        Decline
      </button>
      <button
        type="button"
        *ngIf="showLeaveButton"
        class="btn btn-outline-danger float-right ml-1"
        (click)="leaveProject()"
      >
        Leave project
      </button>
      <button type="button" *ngIf="finishImmediatelyButton" class="btn btn-danger" (click)="finishImmediately()">
        Finish project
      </button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="alert alert-warning" *ngIf="todayIsLastDay">
    Today is your last day on the project.
  </div>
</div>

<div class="container mt-3" *ngIf="project != null">
  <app-project-model-view [project]="project"></app-project-model-view>

  <div class="mt-5" *ngIf="showRestoreProjectModule">
    <div class="h5">Restore Project</div>
    <app-project-restore [project]="project"></app-project-restore>
  </div>

  <div class="mt-5" *ngIf="project.confirmed && isTopManagerOrProjectManager">
    <app-project-finance-info [project]="project"></app-project-finance-info>
  </div>

  <div class="mt-5" *ngIf="table != null">
    <button
      *ngIf="showRemoveRecordsFromJiraButton"
      type="button"
      class="btn btn-outline-danger float-right ml-1"
      (click)="removeRecordsFromJira()"
    >
      Remove All Records From Jira
    </button>
    <app-worklog-table
      [tableSource]="table"
      (getRecordsWithTimeRange)="getRecordsForProjectTimeRange($event)"
    ></app-worklog-table>
  </div>

  <div class="mt-5" *ngIf="tableArguments != null">
    <app-project-participants-table
      [tableArguments]="tableArguments"
      (reload)="reloadPotentialProjectParticipants()"
    ></app-project-participants-table>
  </div>

  <div class="mt-5" *ngIf="showParticipantsSkills">
    <h5 class="mb-3">Participants Skills</h5>
    <app-pie-chart [data]="skills" [height]="250"></app-pie-chart>
  </div>

  <div class="mt-5" *ngIf="requestFormArguments">
    <app-project-assign-request-form [arguments]="requestFormArguments"></app-project-assign-request-form>
  </div>
</div>

<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
<app-decline-dialog *ngIf="declineFormModalMessage != null" [message]="declineFormModalMessage"></app-decline-dialog>
