<app-page-header>
  <div class="app-page-header-label">Active users</div>
</app-page-header>

<div class="container mt-3">
  <div class="mt-1 w-100 d-flex justify-content-between">
    <div class="d-inline-block text-muted">
      There are all active users are shown: confirmed and non-confirmed both.
    </div>
    <div class="d-inline-block" *appHasRole="'hrmanager'">
      <a class="btn btn-outline-primary" routerLink="/admin/users/create">Create user</a>
      <a
        class="btn btn-outline-success ml-1"
        routerLink="/admin/users/import"
        *appHasRole="'systemadministrator'"
        title="You are able to import users as a bulk operation"
        >Import users</a
      >
    </div>
  </div>
  <div class="mt-5">
    <app-users-table *ngIf="paginatedList?.results" [paginatedList]="paginatedList"></app-users-table>
  </div>
  <div class="mt-3 text-muted">
    <div>
      <div class="badge badge-success">Active</div>
      user is a user who has logged in the system by himself.
    </div>
    <div class="d-block">
      <div class="badge badge-warning">Not-confirmed</div>
      user is a user who <b>has never been logged in</b> the system by himself.
    </div>
  </div>
</div>
