<div *appIsMobile>
  <app-page-header>
    <div class="app-page-header-label">Log your time</div>
  </app-page-header>
  <div class="container">
    <div class="mb-3">
      <app-wroklog-type-switcher
        (switcherChanged)="switcherChanged()"
        [showNonProjectSpentTimeForm]="showNonProjectSpentTimeForm"
        [showSwitcher]="showSwitcher"
      ></app-wroklog-type-switcher>
      <div *ngIf="hasAnyFormGroup; else stubActivityForm">
        <app-non-project-activity-form
          *ngIf="nonProjectFormGroup != null"
          [formGroup]="nonProjectFormGroup"
          [nonProjectActivities]="nonProjectActivities"
          (timeRecordCreated)="timeRecordCreated($event)"
        ></app-non-project-activity-form>

        <app-project-activity-form
          *ngIf="projectFormGroup != null"
          [formGroup]="projectFormGroup"
          [projectsForUser]="projectsForUser"
          (timeRecordCreated)="timeRecordCreated($event)"
        ></app-project-activity-form>
      </div>

      <ng-template #stubActivityForm>
        <app-stub-activity-form></app-stub-activity-form>
      </ng-template>
    </div>
  </div>
</div>

<div class="container h-100" [hidden]="!isAuthenticated" *appIsDesktop>
  <div class="row h-100">
    <aside class="aside-menu d-none">
      <div class="fixed">
        <app-page-header>
          <div class="app-page-header-label">Log your time</div>
        </app-page-header>
        <div class="m-3">
          <app-wroklog-type-switcher
            (switcherChanged)="switcherChanged()"
            [showNonProjectSpentTimeForm]="showNonProjectSpentTimeForm"
            [showSwitcher]="showSwitcher"
          ></app-wroklog-type-switcher>

          <div *ngIf="hasAnyFormGroup; else stubActivityForm">
            <app-non-project-activity-form
              *ngIf="nonProjectFormGroup != null"
              [formGroup]="nonProjectFormGroup"
              [nonProjectActivities]="nonProjectActivities"
              (timeRecordCreated)="timeRecordCreated($event)"
            ></app-non-project-activity-form>

            <app-project-activity-form
              *ngIf="projectFormGroup != null"
              [formGroup]="projectFormGroup"
              [projectsForUser]="projectsForUser"
              (timeRecordCreated)="timeRecordCreated($event)"
            ></app-project-activity-form>
          </div>

          <ng-template #stubActivityForm>
            <app-stub-activity-form></app-stub-activity-form>
          </ng-template>
        </div>
      </div>
    </aside>

    <aside class="aside-menu-tab">
      <div class="aside-menu-aside-row h-100 fixed">
        <div class="my-auto">
          <a appWorklogFormButton>
            <img src="/assets/timer.png" title="Log your time" class="logger-button" />
          </a>
        </div>
      </div>
    </aside>
  </div>
</div>
