<div class="text-center">
    <img src="~/img/scared-pepe.png">
    <h1>Oops! Something went wrong.</h1>
    <h1>But that's ok. Just click on the button below.</h1>
    <div class="mt-3 login-link-wrapper">
        <a href="https://example.com" class="btn btn-outline-primary btn-block">To the main page</a>
    </div>
</div>

