@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
.welcome-width {
  width: 55%;
}

.welcome {
  margin-top: 25px;
  height: 100%;
}

.bg-white.rounded {
  height: 550px;
}

.btn-company-ai {
  color: #fff;
  background-color: #2a50e0;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-company-ai:focus,
.btn-company-ai.focus {
  color: #fff;
  background-color: #2846ba;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-company-ai:hover {
  color: #fff;
  background-color: #2846ba;
  border-color: rgba(0, 0, 0, 0.2);
}

.welcome-title {
  font-family: 'Rubik', sans-serif;
  color: #0c3bf3;
  line-height: 1.15;
  word-wrap: normal;
  font-size: 1.5em;
}

.welcome-title-name {
  font-size: 3em;
}

.welcome-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  color: #464646;
}

.login-button-wrapper {
  padding-bottom: 32px;
}

.envname-wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 16px;
}
