<app-page-header>
  <div class="app-page-header-label">To-Do List</div>
</app-page-header>

<div class="container mt-3" *ngIf="todoList != null">
  <div class="card" *ngIf="todoList.length > 0; else nothingForToday">
    <ul class="list-group list-group-flush">
      <ul class="list-group list-group-flush">
        <a
          [routerLink]="todo.link"
          class="list-group-item list-group-item-action"
          *ngFor="let todo of todoList"
          title="Click to open"
        >
          <span class="d-block w-100">
            {{ todo.requestTitle }}
          </span>
          <span class="d-block w-100 small text-muted">
            {{ todo.hint }}
          </span>
        </a>
      </ul>
    </ul>
  </div>
</div>

<ng-template #nothingForToday>
  <div class="h1 text-center h-75"><img src="/assets/relax-icon.jpg" /></div>
  <div class="display-2 text-center">Nothing to do. Just relax.</div>
</ng-template>
