<app-page-header>
  <div class="app-page-header-label">Project Assign Requests</div>
</app-page-header>

<div class="container mt-3" *ngIf="projectAssignRequestArguments != null">
  <div *ngIf="projectAssignRequestArguments.hasItems; else noItems">
    <div class="table-responsive">
      <app-project-assign-request [assignRequests]="projectAssignRequestArguments"></app-project-assign-request>
    </div>
  </div>
  <ng-template #noItems>
    <app-nothing-to-show-label></app-nothing-to-show-label>
  </ng-template>
</div>
