<app-page-header>
  <div class="app-page-header-label">Project assign request #{{ assignRequestId }}</div>
</app-page-header>

<div class="container">
  <div class="mt-3" *ngIf="request != null">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>Assignee</small>
            </div>
            <div>
              <a [routerLink]="['/users', request.assignee.id]">{{ request.assignee.email }}</a>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>Requestor</small>
            </div>
            <div>
              <a [routerLink]="['/users', request.requester.id]">{{ request.requester.email }}</a>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>Project</small>
            </div>
            <div>
              <a [routerLink]="['/projects', request.project.id]" title="View the project">{{
                request.project.fullName
              }}</a>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>Role</small>
            </div>
            <div>
              <span>{{ projectRole }}</span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>Utilization</small>
            </div>
            <div>
              <span>{{ utilization }}%</span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <div class="text-muted">
              <small>From</small>
            </div>
            <div>
              <span>{{ request.from | date: 'yyyy-MM-dd' }}</span>
            </div>
          </div>
        </li>

        <li class="list-group-item" *ngIf="request.to != null">
          <div>
            <div class="text-muted">
              <small>To</small>
            </div>
            <div>
              <span>{{ request.to | date: 'yyyy-MM-dd' }}</span>
            </div>
          </div>
        </li>
      </ul>

      <div class="card-body">
        <div class="d-flex justify-content-between mt-3">
          <app-go-back-button></app-go-back-button>

          <div class="d-inline-block" *ngIf="hasPermissionsToApproveOrDecline">
            <button type="button" class="btn btn-outline-danger mr-1" (click)="decline()">
              Decline
            </button>

            <button type="button" *ngIf="showApproveButton" class="btn btn-success" (click)="approve()">
              Approve
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-decline-dialog *ngIf="declineFormModalMessage != null" [message]="declineFormModalMessage"></app-decline-dialog>
