<div *ngIf="paginatedList?.results.length > 0; else noAnnualLeaves">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Requester</th>
          <th>From</th>
          <th>To</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedList.results" [routerLink]="[paginatedList.linkPrefix, item.id]">
          <th scope="row">{{ item.id }}</th>
          <td>
            <a [routerLink]="['/users', item.user?.id]">{{ item.user?.email }}</a>
          </td>
          <td title="{{ item.from | date: 'yyyy-MM-dd' }}">{{ item.from | date: 'EEEE, MMMM, dd' }}</td>
          <td title="{{ item.to | date: 'yyyy-MM-dd' }}">{{ item.to | date: 'EEEE, MMMM, dd' }}</td>
          <td>{{ vacationStatuses[item.vacationStatus] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <app-table-pagination [paginatedList]="paginatedList" (pageChange)="changePage($event)"></app-table-pagination>
  </div>
</div>
<ng-template #noAnnualLeaves>
  <app-nothing-to-show-label></app-nothing-to-show-label>
</ng-template>
