<app-page-header>
  <div class="app-page-header-label">Create work hours</div>
</app-page-header>

<div class="container">
  <form *ngIf="addForm != null" [formGroup]="addForm">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Hours</label>
          <input type="number" class="form-control" formControlName="hours" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="addForm" [fieldName]="'hours'" [max]="'720'" [min]="'1'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Days</label>
          <input type="number" class="form-control" formControlName="days" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="addForm" [fieldName]="'days'" [max]="'31'" [min]="'1'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Month</label>

          <ng-select formControlName="month" [items]="months" bindLabel="label" bindValue="item"> </ng-select>
        </div>

        <div class="form-group">
          <label>Year</label>
          <input type="number" class="form-control" formControlName="year" />
          <app-field-error [formGroup]="addForm" [fieldName]="'year'" [max]="'3000'" [min]="'1900'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Holidays</label>
          <input type="string" class="form-control" formControlName="holidays" />
          <div *ngIf="addForm.controls.holidays.errors?.incorrect" class="invalid-feedback">
            Please enter valid values
          </div>

          <app-field-error [formGroup]="addForm" [fieldName]="'holidays'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Special Workdays</label>
          <input type="string" class="form-control" formControlName="specialWorkdays" />
          <div *ngIf="addForm.controls.specialWorkdays.errors?.incorrect" class="invalid-feedback">
            Please enter valid values
          </div>

          <app-field-error [formGroup]="addForm" [fieldName]="'specialWorkdays'"></app-field-error>
        </div>

        <div class="form-group d-flex justify-content-between">
          <app-go-back-button></app-go-back-button>
          <app-submit-button (btnSubmit)="onSubmit()">Create</app-submit-button>
        </div>
      </div>
    </div>
  </form>
</div>
