<app-page-header>
  <div class="app-page-header-label">Sickleaves to react</div>
</app-page-header>

<div class="container mt-3" *ngIf="sickleaves != null">
  <div *ngIf="sickleaves.length > 0; else noSickleaves">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Requester</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sickleaves">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.user.firstName }} {{ item.user.lastName }}</td>
            <td>{{ item.from == null ? '-' : (item.from | date: 'yyyy-MM-dd') }}</td>
            <td><a routerLink="vacations/sickleaves/{{ item.id }}">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #noSickleaves>
  <app-nothing-to-show-label></app-nothing-to-show-label>
</ng-template>
