<app-page-header>
  <div class="app-page-header-label">Edit month work hours</div>
</app-page-header>

<div class="container">
  <form *ngIf="editForm != null" [formGroup]="editForm">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Hours</label>
          <input type="number" class="form-control" formControlName="hours" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'hours'" [max]="'720'" [min]="'1'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Days</label>
          <input type="number" class="form-control" formControlName="days" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'days'" [max]="'31'" [min]="'1'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Month</label>

          <ng-select formControlName="month" [items]="months" bindLabel="label" bindValue="item"> </ng-select>
        </div>

        <div class="form-group">
          <label>Year</label>
          <input type="number" class="form-control" formControlName="year" />
          <app-field-error [formGroup]="editForm" [fieldName]="'year'" [max]="'3000'" [min]="'1900'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Holidays</label>
          <input type="string" class="form-control" formControlName="holidays" />
          <div *ngIf="editForm.controls.holidays.errors?.incorrect" class="invalid-feedback">
            Please enter valid values
          </div>
          <app-field-error [formGroup]="editForm" [fieldName]="'holidays'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Special Workdays</label>
          <input type="string" class="form-control" formControlName="specialWorkdays" />
          <div *ngIf="editForm.controls.specialWorkdays.errors?.incorrect" class="invalid-feedback">
            Please enter valid values
          </div>
          <app-field-error [formGroup]="editForm" [fieldName]="'specialWorkdays'"></app-field-error>
        </div>

        <div class="form-group d-flex justify-content-between">
          <app-go-back-button></app-go-back-button>

          <div class="row">
            <div>
              <button class="btn btn-outline-danger mr-1" type="button" (click)="delete()">
                Delete
              </button>
            </div>
            <div class="pl-1 pr-3">
              <app-submit-button (btnSubmit)="onSubmit()">Save</app-submit-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
