<app-dialog *ngIf="showModal" [show]="true" (closed)="close()">
  <div header>Worklogs for {{ date | date: 'yyyy-MM-dd' }}</div>
  <div body>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Title</th>
            <th>Spent</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of recordsCollection.records; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ record.title ? record.title : 'no title' }}</td>
            <td [class]="recordTypeClass(record)">{{ record.minutes }} min</td>
            <td>
              <button
                *ngIf="hasPermission(record)"
                type="button"
                class="btn btn-sm btn-outline-danger ml-1"
                (click)="deleteUserRecord(record)"
                title="Remove record"
              >
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="d-flex justify-content-md-start">
      <div class="square jira"></div>
      <div>&nbsp;- hours uploaded from Jira</div>
    </div>
    <br />
    <div class="d-flex justify-content-md-start">
      <div class="square intranet"></div>
      <div>&nbsp;- hours inserted by user</div>
    </div>
  </div>
</app-dialog>

<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
