<app-page-header>
  <div class="app-page-header-label">Project Assign Requests</div>
</app-page-header>

<div class="container mt-3">
  <div class="text-muted">
    <b>Project assign request</b> is a request to add new users to a project. Project Manager is not able to assign
    whoever he wants.
    <br />
    Project Manager requests a new user to his project, and Functional manager of the user approves or declines the
    request.
  </div>

  <div class="mt-3" *ngIf="projectAssignRequestArguments != null">
    <div *ngIf="projectAssignRequestArguments.hasItems; else noItems">
      <div class="table-responsive">
        <app-project-assign-request [assignRequests]="projectAssignRequestArguments"></app-project-assign-request>
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>
  <app-nothing-to-show-label></app-nothing-to-show-label>
</ng-template>
