/* You can add global styles to this file, and also import other style files */
$company-grey: #f9f9f9;
$company-blue: #002ff7;

.bg-company-grey {
  background-color: $company-grey;
}

@import 'spacing';
@import 'typography';
@import '~bootstrap/scss/bootstrap.scss';

input.ng-touched.ng-invalid {
  @extend .is-invalid;
}

input.ng-touched.ng-valid {
  @extend .is-valid;
}

@import 'sidebar/core';
