<app-page-header>
  <div class="app-page-header-label">Department Attachment Requests</div>
</app-page-header>

<div class="container mt-3" *ngIf="departmentAttachmentRequestArguments != null">
  <div *ngIf="departmentAttachmentRequestArguments.hasItems; else noItems">
    <div class="table-responsive">
      <app-attachment-request-table [attachmentRequests]="departmentAttachmentRequestArguments">
      </app-attachment-request-table>
    </div>
  </div>
  <ng-template #noItems>
    <app-nothing-to-show-label></app-nothing-to-show-label>
  </ng-template>
</div>
