<app-page-header>
  <div class="app-page-header-label">
    My subordinates
  </div>
</app-page-header>

<div class="container mt-3">
  <div class="text-muted">
    There are employees who is a subordinate for you. You were set as their Functional Manager.
    <br />
    The functional manager is the person who has management authority within a business unit/department with direct
    supervision over one or more resources on the project/program team, and/or direct responsibility for the functions
    affected by or that affect the project/program deliverable(s).
    <br />
    Functional managers reside within Information Systems & Technology (IST) and within other business units on campus.
  </div>

  <div class="mt-3">
    <app-users-table *ngIf="paginatedList?.results" [paginatedList]="paginatedList"></app-users-table>
  </div>
</div>
