<app-page-header>
  <div class="app-page-header-label">Create a new project</div>
</app-page-header>

<div class="container">
  <div class="text-muted">
    The project will be reviewed by a Top Manager of the company.
    <br />
    If the Project is approved, you will get your own project. Otherwise, you will get an email notification about the
    deny.
  </div>

  <div class="mt-3">
    <div class="card">
      <div class="card-body">
        <form *ngIf="addForm != null" [formGroup]="addForm">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="fullName" />
            <small class="form-text text-muted">Field is required</small>
            <app-field-error [formGroup]="addForm" [fieldName]="'fullName'"></app-field-error>
          </div>

          <div class="form-group">
            <label>Short Code</label>
            <input type="text" class="form-control" formControlName="shortCode" />
            <small class="form-text text-muted">Field is required</small>
            <app-field-error [formGroup]="addForm" [fieldName]="'shortCode'"></app-field-error>
          </div>

          <div class="form-group">
            <label>Contract Price</label>
            <input type="text" class="form-control" formControlName="contractPrice" appOnlyNumber />
            <small class="form-text text-muted">Field is required</small>
            <app-field-error [formGroup]="addForm" [fieldName]="'contractPrice'"></app-field-error>
          </div>

          <div class="form-group">
            <label
              >Margin
              <app-popover class="ml-1" [title]="'About Margin'" [icon]="'far fa-question-circle'">
                Margin is the difference between Revenue and expenses.
              </app-popover>
            </label>
            <input type="text" class="form-control" formControlName="margin" placeholder="20" appOnlyNumber />
            <app-field-error [formGroup]="addForm" [fieldName]="'margin'"></app-field-error>
          </div>

          <app-project-start-end-dates [formGroup]="addForm"></app-project-start-end-dates>

          <!-- TODO Maxim: ng-select -->
          <div class="form-group" *ngIf="customers.length > 0">
            <label>Customer</label>
            <ng-select
              formControlName="customerId"
              [items]="customers"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose customer"
            >
            </ng-select>
            <small class="form-text text-muted">Customer is optional</small>
            <app-field-error [formGroup]="addForm" [fieldName]="'customerId'"></app-field-error>
          </div>

          <!-- TODO Maxim: ng-select -->
          <div class="form-group">
            <label>Manager</label>
            <select class="form-control" readonly disabled>
              <option selected>
                {{ currentUser.fullName }}
              </option>
            </select>
            <small class="form-text text-muted">You will become a project manager</small>
          </div>

          <div class="form-group">
            <label>Jira id</label>
            <ng-select
              formControlName="jiraId"
              [items]="jiraProjects"
              bindLabel="name"
              bindValue="id"
              placeholder="No jira id"
            ></ng-select>
          </div>

          <div class="form-group d-flex justify-content-between">
            <app-go-back-button></app-go-back-button>
            <app-submit-button (btnSubmit)="onSubmit()">Create</app-submit-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
