<form *ngIf="formGroup != null" [formGroup]="formGroup">
  <div class="form-group">
    <label>Project</label>
    <ng-select
      formControlName="projectId"
      [items]="projectsForUser"
      bindLabel="label"
      bindValue="item.projectId"
      placeholder="Select the project"
    >
    </ng-select>
    <app-field-error [formGroup]="formGroup" [fieldName]="'projectId'"></app-field-error>
  </div>

  <div class="form-group">
    <label>Title</label>
    <input
      type="text"
      class="form-control"
      formControlName="title"
      placeholder="What did you do?"
      [typeahead]="typeahead?.keywords"
      [typeaheadSingleWords]="true"
      [typeaheadScrollable]="true"
      [isAnimated]="true"
      [typeaheadLatinize]="true"
    />
    <small class="form-text text-muted">You may clarify your activity, but you don't have to</small>
  </div>

  <div class="form-group">
    <label>Time spent</label>
    <input type="text" class="form-control" formControlName="spentTime" placeholder="1h 30m" />
    <small class="form-text text-muted">Field is required. <i>For example, 1h 30m</i></small>
    <app-field-error [formGroup]="formGroup" [fieldName]="'spentTime'"></app-field-error>
  </div>

  <div class="my-1">
    <label>Date of work</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        autocomplete="off"
        name="dateOfWork"
        [formControl]="formGroup.controls.dateOfWork"
        ngbDatepicker
        #datePicker="ngbDatepicker"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="datePicker.toggle()" type="button">
          <i class="far fa-calendar-alt"></i> Pick
        </button>
      </div>
    </div>
    <small class="form-text text-muted">Field is required</small>
    <app-field-error [formGroup]="formGroup" [fieldName]="'dateOfWork'"></app-field-error>
  </div>

  <div class="form-group">
    <app-submit-button (btnSubmit)="onSubmit()">Log</app-submit-button>
  </div>
</form>
