<app-page-header>
  <div class="app-page-header-label">Edit expense</div>
</app-page-header>

<div class="container">
  <div class="mb-3">
    <app-business-expenses-hint></app-business-expenses-hint>
  </div>

  <form *ngIf="editForm != null" [formGroup]="editForm">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'title'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Cost</label>
          <input type="text" class="form-control" formControlName="cost" appOnlyNumber />
          <small class="form-text text-muted">Field is required. A currency is not defined</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'cost'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Year</label>
          <input
            type="text"
            class="form-control"
            formControlName="year"
            appOnlyNumber
            appYearRange
            [min]="1900"
            [max]="3000"
          />
          <small class="form-text text-muted">
            Year is required. We attach the expense to the year to show them within different reports.
          </small>
          <app-field-error [formGroup]="editForm" [fieldName]="'year'"></app-field-error>
        </div>

        <div class="form-group d-flex justify-content-between">
          <app-go-back-button></app-go-back-button>

          <div class="row">
            <div>
              <button type="button" *appHasRole="'hrmanager'" class="btn btn-outline-danger" (click)="deleteExpense()">
                Delete
              </button>
            </div>
            <div class="pl-1 pr-3">
              <app-submit-button (btnSubmit)="onSubmit()">Edit</app-submit-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
