<app-page-header>
  <div class="app-page-header-label">Create Expenses</div>
</app-page-header>

<div class="container">
  <div class="mb-3">
    <app-business-expenses-hint></app-business-expenses-hint>
  </div>

  <form *ngIf="addForm != null" [formGroup]="addForm">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="addForm" [fieldName]="'title'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Costs</label>
          <input type="text" class="form-control" formControlName="cost" appOnlyNumber />
          <small class="form-text text-muted">Field is required. A currency is not defined</small>
          <app-field-error [formGroup]="addForm" [fieldName]="'cost'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Year</label>
          <input
            type="text"
            class="form-control"
            formControlName="year"
            appOnlyNumber
            appYearRange
            [min]="1900"
            [max]="3000"
          />
          <small class="form-text text-muted">
            Year is required. We attach the expense to the year to show them within different reports.
          </small>
          <app-field-error [formGroup]="addForm" [fieldName]="'year'"></app-field-error>
        </div>

        <div class="form-group d-flex justify-content-between">
          <app-go-back-button></app-go-back-button>
          <app-submit-button (btnSubmit)="onSubmit()">Create</app-submit-button>
        </div>
      </div>
    </div>
  </form>
</div>
