<div class="card">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Manager</small>
          </div>
          <div>{{ managerName }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Short code</small>
          </div>
          <div>{{ project.shortCode }}</div>
        </div>
      </li>

      <li class="list-group-item" *ngIf="project.description != null">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Description</small>
          </div>
          <div>{{ project.description }}</div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="!project.confirmed">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Contract Price</small>
          </div>
          <div>
            <app-finance-value [content]="project.contractPrice" [hideZero]="true"></app-finance-value>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="!project.confirmed">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small
              >Margin
              <app-popover class="ml-1" [title]="'About Margin'" [icon]="'far fa-question-circle'">
                Margin is the difference between Revenue and expenses.
              </app-popover>
            </small>
          </div>
          <div>
            <app-finance-value
              [content]="project.margin"
              [hideZero]="true"
              [title]="project.marginRate + '%'"
            ></app-finance-value>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="!project.confirmed">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Budget</small>
          </div>
          <div>
            <app-finance-value [content]="project.budget" [hideZero]="true"></app-finance-value>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Start Date</small>
          </div>
          <div>{{ project.from | date: 'dd-MM-y' }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>End Date</small>
          </div>
          <div>{{ project.to | date: 'dd-MM-y' }}</div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="project.customer != null">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Customer</small>
          </div>
          <div>{{ project.customer.name }}</div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="review != null">
        <div>
          <div class="d-flex justify-content-between text-muted">
            <small>Review</small>
          </div>
          <div>
            <ul>
              <li><b>Author</b>: {{ review.author.fullName }}</li>
              <li><b>Status</b>: {{ review.status }}</li>
              <li><b>Comment</b>: {{ review.comment }}</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
