<div>
  <div class="h5">Worklogs</div>
  <div class="mb-3">
    <button class="btn btn-outline-success" (click)="showPreviousWeek()">Previous Week</button>
    <button class="btn btn-outline-primary ml-1" (click)="showCurrentWeek()">Current Week</button>
    <button class="btn btn-outline-info ml-1" (click)="reload()" title="Reload">
      <i class="fa fa-redo"></i>
    </button>
    <span class="ml-1" *ngIf="timeRange != null"
      ><i>[{{ timeRange.from | date: 'yyyy-MM-dd' }}</i> : <i>{{ timeRange.to | date: 'yyyy-MM-dd' }}]</i></span
    >
  </div>
  <div class="table-responsive" *ngIf="showTable; else noRecordsBlock">
    <table class="table table-striped table-bordered table-hover">
      <colgroup>
        <col />
        <col *ngFor="let day of table.days" width="8%" [class.weekend]="day.weekend" />
      </colgroup>
      <thead>
        <tr>
          <th rowspan="2" scope="col">Tickets</th>

          <th
            *ngFor="let day of table.days"
            scope="col"
            class="text-center"
            title="{{ day.date | date: 'yyyy-MM-dd' }}, {{ day.dayOfTheWeek }}"
          >
            {{ day.dayNumber }}
          </th>
          <th class="info-color text-center">
            <u>Total</u>
          </th>
        </tr>
        <tr>
          <th
            *ngFor="let totalTime of table.totalTimeCells"
            title="{{ totalTime.minutes }} min"
            class="text-center"
            [class.success]="totalTime.fullDayFilled"
            [class.warning]="totalTime.overtime"
          >
            <small
              ><b>{{ totalTime.total }}</b></small
            >
          </th>
          <th class="info-color text-center">
            <small
              ><u
                ><b>{{ table.totalFullTime.total }}</b></u
              ></small
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of table.rows">
          <td title="{{ row.cellTitle }}">{{ row.title }}</td>
          <td
            *ngFor="let cell of row.cells"
            class="text-center"
            [class.cursor]="!cell.records.empty"
            [class.info-color]="cell.isDayOff"
            title="{{ cell.minutes }} minutes"
            (click)="openDay(cell)"
          >
            <small *ngIf="!cell.isDayOff; else dayOff">{{ cell.total }}</small>
          </td>
          <td class="info-color text-center">
            <small
              ><b>{{ row.totalCells.total }}</b></small
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noRecordsBlock>
    <div class="card">
      <div class="card-body">
        No worklogs
      </div>
    </div>
  </ng-template>

  <ng-template #dayOff>
    <small><i>day-off</i></small>
  </ng-template>
</div>

<app-records-view
  *ngIf="recordsItemForModal != null"
  (reload)="showCurrentWeek()"
  [recordsItem]="recordsItemForModal"
></app-records-view>
