.bordered {
  border-bottom: 1px solid #212529;
}

.success {
  border-color: #8fd19e;
  background-color: #c3e6cb;
}

.info-color {
  border-color: #8fbed1;
  background-color: #c3dbe6c4;
}

.warning {
  border-color: #ffdf7e;
  background-color: #ffeeba;
}

.weekend {
  background-color: #ececec;
}

.cursor {
  cursor: pointer;
}
