<app-page-header>
  <div class="app-page-header-label">Inactive users</div>
</app-page-header>

<div class="container mt-3">
  <div class="text-muted">
    Inactive users - users who were deleted 'softly' by some reason. The users do not participates in departments or
    projects.
    <br />
    You are able to restore users by creating a <i>User Restore request</i>.
  </div>

  <div class="mt-3">
    <app-users-table *ngIf="paginatedList?.results" [paginatedList]="paginatedList"></app-users-table>
  </div>
</div>
