<div class="table-responsive" *ngIf="users != null">
  <table class="table table-striped table-bordered table-hover" *ngIf="users.length > 0; else noUsers">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
        <th *appHasRole="'hrmanager'">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="{{ item.link }}" title="Go to user page" *ngFor="let item of users; let i = index">
        <th scope="row">{{ (paginatedList.currentPage - 1) * paginatedList.pageSize + i + 1 }}</th>
        <td>{{ item.fullName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td *appHasRole="'hrmanager'">
          <span class="badge badge-warning" *ngIf="!item.emailConfirmed; else confirmed">Not confirmed</span>
          <ng-template #confirmed>
            <span class="badge badge-success" *ngIf="item.isActive; else inActive">Active</span>
            <ng-template #inActive>
              <span class="badge badge-warning">Inactive</span>
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <app-table-pagination [paginatedList]="paginatedList" (pageChange)="changePage($event)"></app-table-pagination>
  </div>
</div>
<ng-template #noUsers>
  <div class="card">Nothing to show</div>
</ng-template>
