<app-page-header>
  <div class="app-page-header-label">Edit customer</div>
</app-page-header>

<div class="container">
  <form *ngIf="editForm != null" [formGroup]="editForm">
    <div class="card mt-3">
      <div class="card-body">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'name'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Short Code</label>
          <input type="text" class="form-control" formControlName="shortCode" />
          <small class="form-text text-muted">Field is required</small>
          <app-field-error [formGroup]="editForm" [fieldName]="'shortCode'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description" />
          <app-field-error [formGroup]="editForm" [fieldName]="'description'"></app-field-error>
        </div>

        <div class="form-group">
          <label>Contact Info</label>
          <input type="text" class="form-control" formControlName="contactInfo" />
          <app-field-error [formGroup]="editForm" [fieldName]="'contactInfo'"></app-field-error>
        </div>

        <div class="form-group d-flex justify-content-between">
          <app-go-back-button></app-go-back-button>
          <div class="row">
            <div>
              <button
                type="button"
                *appHasRole="'systemadministrator'"
                class="btn btn-outline-danger"
                (click)="deleteCustomer()"
              >
                Delete
              </button>
            </div>
            <div class="pl-1 pr-3">
              <app-submit-button (btnSubmit)="onSubmit()">Edit</app-submit-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-confirm-dialog *ngIf="confirmDeletionMessage != null" [message]="confirmDeletionMessage"></app-confirm-dialog>
